<%- include('../partials/header') %>
    <h1><%=title%></h1>
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>
<%- include('../partials/footer') %>