<%- include('../partials/header') %>

<div class="container mt-5">
  <h2>Add a New Funny Recipe</h2>
  <form action="/recipes/add" method="POST">
    <div class="form-group">
      <label>Name</label>
      <input required type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label>Author</label>
      <input required type="text" name="author" class="form-control">
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea required name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label>Ingredients</label>
      <textarea required name="ingredients" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label>Instructions</label>
      <textarea required name="instructions" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label>Rating (1–5)</label>
      <input required type="number" step="0.1" min="1" max="5" name="rating" class="form-control">
    </div>

    <div class="form-group">
      <label>Category</label>
      <select name="category" class="form-control" required>
        <% categories.forEach(cat => { %>
          <option value="<%= cat._id %>"><%= cat.name %></option>
        <% }); %>
      </select>
    </div>

    <button class="btn btn-primary mt-3">Submit</button>
  </form>
</div>

<%- include('../partials/footer') %>
